$negro:#000;
$blanco:#ffffff;
$rojo:#ff0000;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}


@import './seccion/header';
@import './seccion/mark';
@import './seccion/ofertas';
@import './seccion/publicidad-1';
@import './seccion/publicidad-2';
@import './seccion/footer';

@import './queries/mediaQueries';